<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LOOP_API_HOST</key>
	<string>127.0.0.1</string>
	<key>LOOP_API_PORT</key>
	<string>4000</string>
	<key>LOOP_API_SCHEME</key>
	<string>http</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Nunito-Regular.ttf</string>
		<string>Fonts/Nunito-Medium.ttf</string>
		<string>Fonts/Nunito-SemiBold.ttf</string>
		<string>Fonts/Nunito-Bold.ttf</string>
		<string>Fonts/Nunito-ExtraBold.ttf</string>
		<string>Fonts/Nunito-Black.ttf</string>
		<string>Fonts/tabler-icons.ttf</string>
	</array>
</dict>
</plist>
